MONGODB_URI=mongodb://thathajiarjilli6_db_user:gq4LH8MvyFCvamAX@ac-nj0xhl4-shard-00-00.5klcooh.mongodb.net:27017,ac-nj0xhl4-shard-00-01.5klcooh.mongodb.net:27017,ac-nj0xhl4-shard-00-02.5klcooh.mongodb.net:27017/?ssl=true&replicaSet=atlas-5gy0bu-shard-0&authSource=admin&appName=MahiPickels
# Use the standard mongodb:// connection string from Atlas as a fallback if SRV DNS is blocked.
MONGODB_URI_DIRECT=mongodb://thathajiarjilli6_db_user:gq4LH8MvyFCvamAX@ac-nj0xhl4-shard-00-00.5klcooh.mongodb.net:27017,ac-nj0xhl4-shard-00-01.5klcooh.mongodb.net:27017,ac-nj0xhl4-shard-00-02.5klcooh.mongodb.net:27017/?ssl=true&replicaSet=atlas-5gy0bu-shard-0&authSource=admin&appName=MahiPickels
DB_NAME=mahipickels
PORT=10000
RAZORPAY_KEY_ID=rzp_live_Tb0GPtC6v4gc2c
RAZORPAY_KEY_SECRET=wLTJ6v2fU6s5Fel6vmbj70pF
ADMIN_NAME=admin
ADMIN_PASSWORD=admin@12
ADMIN_TOKEN=Ad123TFI05
